@import './base.css';

img {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.p-card {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    padding: 1.25em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.p-card-header > img {
    max-height: 300px;
}

.p-card-content > p {
    margin-bottom: 10px;
}

.p-card-content-header {
    font-weight: bold;
}

/* Header Menu */
.p-menubar .p-menubar-root-list {
    align-items: end;
    margin-left: auto;
}
.p-menubar .p-menubar-button {
    margin-left: auto;
}
