name: CD Build

on:
  push:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
  attestations: write
  contents: read
  id-token: write
  packages: write

jobs:
  build-and-push-to-registry:
    name: Build and Deploy Docker Image
    runs-on: ubuntu-latest
    # Only run this workflow for the official REMSFAL repository
    if: github.repository == 'remsfal/remsfal-frontend'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Node.js LTS
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-${{ runner.os }}-
      - name: List the state of node modules
        if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        continue-on-error: true
        run: npm list

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha

        # Should we use cache-from and cache-to here for speed up?
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
            context: .
            file: ./docker/Dockerfile
            push: true
            tags: ${{ steps.meta.outputs.tags }}
      - name: Generate artifact attestation
        id: attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true